/.vscode
/Arduino UNO
/blockchainws
/c
/c++
/COA 8085
/Complete Webdev Bootcamp
/CYBERSECURITY
/DAA
/dcn practical
/DSA
/ghibli_env
/ghibli_output.jpg
/graph.py
/java_College
/key.key
/main.rs
/ngrok
/passwords.txt
/python-3.12.6-amd64.exe
/python_projects
/xampp-windows-x64-8.2.12-0-VS16-installer.exe